.hero {
  background-image: url("/assets/background/bg-hero.png");
  background-color: #2e2e2e;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.about__skillset{
  background-image: url('/assets/background/bg-skillset.svg');
  background-color: #2E2E2E;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact{
  background-image: url('/assets/background/bg-contact.svg');
  background-color: #E65F5C;
  background-size: cover;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
